/* main CSS */

@import "../../node_modules/font-awesome/css/font-awesome.min.css";
.tick {
    stroke: #fff;
    stroke-width: 85px;
    fill: none;
}

.tack {
    stroke: #fff;
    stroke-width: 55px;
    fill: none;
}

.min {
    stroke-width: 25px;
    fill: none;
}

.hour {
    stroke-width: 25px;
    fill: none;
}